{% extends 'base.html' %}

{% block title %}Confirmar eliminación del autor{% endblock %}

{% block content %}
<h1 class="text-center">Confirmar eliminación del autor</h1>

<p>
  ¿Estás seguro de que quieres eliminar el autor <strong>{{ autor.nombre }}, {{ autor.apellidos }}</strong>?
</p>

<form action="" method="post">
  {% csrf_token %}
  <input type="submit" value="Confirmar" class="btn btn-danger" />
  <a href="{% url 'lista-autores' %}" class="btn btn-success">Denegar</a>
</form>
{% endblock %}