{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<h1 class="text-center">Crear un nuevo Autor</h1>

<form action="" method="post">
    <!--Atención!! Protección CSRF-->
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="row mb-3">
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </div>
</form>

{% endblock %}