{% extends 'base.html' %}

{% block title %}Confirmar eliminación de la lista{% endblock %}

{% block content %}
<h1 class="text-center">Confirmar eliminación de la lista</h1>

<p>
  ¿Estás seguro de que quieres eliminar la lista <strong>{{ listalectura.nombre }}</strong> de <strong>{{ listalectura.usuario.nombre }}</strong>?
</p>

<form action="" method="post">
  {% csrf_token %}
  <input type="submit" value="Confirmar" class="btn btn-danger" />
  <a href="{% url 'lista-lectura' %}" class="btn btn-success">Denegar</a>
</form>
{% endblock %}