{% comment %}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted"
      >&copy; 2024 Your Company. All rights reserved.</span
    >
  </div>
</footer>
{% endcomment %}

<style>
  footer {
    text-align: center;
    {% comment %} position: fixed; {% endcomment %}
    bottom: 0;
    width: 100%;
  }
</style>

<footer class="mt-5 text-white py-3 bg-dark text-center">
  <span class="text-muted">&copy; 2024 Ángela Ledo Uriel (Sala Literaria). All rights reserved.</span>
</footer>
